/**
 * Default Styles for links
 *
 * @package  generator-mh-boilerplate
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _elements.links.scss
|--------------------------------------------------------------------------
*/

/*--------------------------------------------------
    #LINKS
  --------------------------------------------------*/

a {
  transition: all 0.25s ease('out-cubic');

  color: color('guardsmen-red');

  .no-touchevents &:hover {
    color: darken(c('guardsmen-red'), 10%);
  }
}
