/**
 * Default Styles for html and body Element
 *
 * @package  generator-mh-boilerplate
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _elements.page.scss
|--------------------------------------------------------------------------
*/


html {
  overflow-y: scroll;
  height: 100%;
  font-size: 16px;
  font-family: fontfamily('base');
}

body {
  height: 100%;
  @include fluid($ms-font-min, $ms-font-max);
  line-height: $line-height-base;
}
