/**
 * Default Styles for Headings, can also be used as a class
 *
 * @package  generator-mh-boilerplate
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 */

/*
|--------------------------------------------------------------------------
| _elements.headings.scss
|--------------------------------------------------------------------------
*/


/* stylelint-disable selector-class-pattern */

h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  font-family: fontfamily('alternative');
  font-weight: map-getter($fontweights, 'extra-light');
  line-height: 1.2;
}

h1,
.h1 {
  font-family: fontfamily('alternative');
  @include fluid(fontsize('ms4'), fontsize('ms6'));
  text-transform: uppercase;
}

h2,
.h2 {
  @include fluid(fontsize('ms3'), fontsize('ms5'));
}

h3,
.h3 {
  @include fluid(fontsize('ms2'), fontsize('ms4'));
}

h4,
.h4 {
  @include fluid(fontsize('ms1'), fontsize('ms3'));
}

h5,
.h5 {
  font-family: fontfamily('bold');
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h6,
.h6 {
  @include fluid(fontsize('ms-1'), fontsize('ms0'));
}

/* stylelint-enable selector-class-pattern */
