/*------------------------------------*\
    $Buttons

    class="button"
    class="button--modificator"
\*------------------------------------*/

$buttonColor: #fff;


.button {
  font-family: $font-main;
  display: inline-block;
  padding: 10px 15px;
  background-color: $buttonColor;
  border: 0;
  border-radius: 0;
  transition: all .5s ease-in;
  -webkit-appearance: none;
  position: relative;
}
