$formErrorColor: #DD2C00;
$formSuccessBackground: rgb(145,203,62);
$formSuccessTextColor: #fff;
$formLabel: #fff;

$formFont: $font-main;
$formFontSize: 20px;

$formBorder: 1px solid color('gray', 'x_medium');
$formPadding: 10px;
$formField__background: transparent;
$formPlaceholder__font: $formFont;
$formPlaceholderColor: color('gray', 'x_dark');
$formPlaceholder__fontWeight: normal;
$formLabelFontWeight: normal;


// CUSTOM RADIO BUTTONS
$useCustomCheckboxesAndRadios: true;

$formRadio__transition: all .3s ease-in-out;
$formRadio__size: 19px;
$formRadio__radius: 50%;
$formRadio__offsetTop: 4px;
$formRadio__offsetLeft: 0;
$formRadio__checkedColor: color('gray', 'xx_dark');
$formRadio__checkedSize: 7px;
$formRadio__checkedOffsetTop: 10px;
$formRadio__checkedOffsetLeft: 6px;

// CUSTOM CHECKBOXES
$formCheckbox__size: 44px;
$formCheckbox__checkedSize: 22px;
$formCheckbox__checkedColor: $formRadio__checkedColor;
$formCheckbox__labelPadding: 60px;
$formCheckbox__offsetTop: 15px;
$formCheckbox__offsetLeft: 11px;

.tnbs__link {
  font-weight: bold;
  border-bottom: 1px solid;
}

.form__fieldWrapper {
  @include media('<=small') {
    flex-basis: 100%;
    margin-right: 0 !important;
    margin-bottom: 10px;
  }
}

.form {
  max-width: 500px;
  margin: 0 auto;
}

.form__row {
  margin-bottom: 20px;
}

.success {
  background-color: $formSuccessBackground !important;
  color: $formSuccessTextColor;
}

.form__generalError {
  background-color: $formErrorColor;
  color: #fff;
  padding: 15px;
  display: none;
  margin-top: 25px;
  transform-origin: center center;
  transition: all .3s ease-in-out;
  text-align: center;

  &--active {
    transform: scale(1);
    opacity: 1;
  }
}

.form__grid {
  @extend %clearfix;
}

p.error {
  color: $formErrorColor;
  font-size: 16px;
}

.form__label-error {
  color: $formErrorColor;
}

.form__fieldGroup {
  margin-bottom: $verticalRythm;
  position: relative;
}

.fieldGroup__first {
  margin-bottom: 10px;
}

.form__field {
  border: $formBorder;
  padding: $formPadding;
  font-family: $formFont;
  font-size: $formFontSize;
  background-color: $formField__background;
  text-align: center;
  width: 100%;
  display: block;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;

  &.error {
    border: 1px solid $formErrorColor;
  }

  &:focus {
    outline: none;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }

  @include placeholder() {
    color: $formPlaceholderColor;
    font-family: $formPlaceholder__font;
    font-size: $formFontSize;
    font-weight: $formPlaceholder__fontWeight;

    @include media('<=small') {
      font-size: 16px;
    }
  }
}

.form__field--center {
  text-align: center;
  padding-left: 12px;

  @include placeholder() {
    text-align: center;
    overflow: visible;
  }
}

.form__label {
  // font-weight: $formLabelFontWeight;
  margin-bottom: 10px;
  display: inline-block;

  &.error {
    color: $formErrorColor;
  }
}

@if $useCustomCheckboxesAndRadios == true {

  .form__radio,
  .form__checkbox {

    &:not(:checked),
    &:checked {
      position: absolute;
      left: -9999px;

      &.error + label {
        color: $formErrorColor;
      }

      & + label {
        position: relative;
        padding-left: 25px;
        cursor: pointer;

        &.form__label--right {
        padding-left: 35px;
      }

        &::before {
          content: '';
          position: absolute;
          left: $formRadio__offsetLeft;
          top: $formRadio__offsetTop;
          border: $formBorder;
        }

        &::after {
          content: '';
          position: absolute;
          top: $formRadio__checkedOffsetTop;
          left: $formRadio__checkedOffsetLeft;
          transition: $formRadio__transition;
        }
      }
    }
  }
  .form__radio {

    &:not(:checked),
    &:checked {

      & + label {
        &::before {
          width: $formRadio__size;
          height: $formRadio__size;
          border-radius: 50%;
        }

        &::after {
          width: $formRadio__checkedSize;
          height: $formRadio__checkedSize;
          border-radius: 50%;
          background-color: $formRadio__checkedColor;
        }
      }

    }
    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    // Active Checkbox
    &:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  }
  .form__checkbox {

    &:not(:checked),
    &:checked {

      & + label {
        padding-left: $formCheckbox__labelPadding;

        &::before {
          width: $formCheckbox__size;
          height: $formCheckbox__size;
        }

        &::after {
          width: $formCheckbox__checkedSize;
          height: $formCheckbox__checkedSize;
          background-color: $formCheckbox__checkedColor;
          top: $formCheckbox__offsetTop;
          left: $formCheckbox__offsetLeft;
        }
      }

    }
    &:not(:checked) + label::after {
      opacity: 0;
      transform: scale(0);
    }

    // Active Checkbox
    &:checked + label:after {
      opacity: 1;
      transform: scale(1);
    }
  }
} // custom radio buttons and checkboxes
