/**
* $COLORS
* Type: Map
* Uses function color
* Example:
* .foo {
*   background-color: color(colorname, colortint);
*   background-color: color('gray', light);
* }
* Based on http://erskinedesign.com/blog/friendlier-colour-names-sass-maps/
*/

// COLORMAP

$colors: (
    'white': (
        base: #fff,
        dark: darken(#fff, 10%),
    ),
    'gray': (
        x_light:    rgb(237, 237, 237),
        light:      rgb(227, 227, 227),
        base:       #fff,
        medium:     rgb(157, 157, 157),
        dark:       rgb(167, 167, 167),
        x_dark:     rgb(56, 56, 56),
        xx_dark:    rgb(34, 34, 34)
    ),
);