/*------------------------------------*\
    $Typography Rules
\*------------------------------------*/


$font-size__h1: fontSizes('headlines', 'h1');
$font-size__h2: fontSizes('headlines', 'h2');
$font-size__h3: fontSizes('headlines', 'h3');
$font-size__h4: fontSizes('headlines', 'h4');
$font-size__h5: fontSizes('headlines', 'h5');
$font-size__h6: fontSizes('headlines', 'h6');

html {
  font-size: 100%;
}

body {
  font-family: fontFamilies('main');
  font-size: fontSizes('main', 'bodycopy');
  line-height: $base-line-height;
  color: color('gray', x_dark);
  @include container();
}


a {
  color: inherit;
  text-decoration: none;
}


strong,
b {
  font-weight: bold;
}

pre {
  margin: 0;
}

p, pre, hr, ul, ol {
  margin-top: 0;
  margin-bottom: $verticalRythm;
}


//------------------------------------\\
// HEADLINES
//------------------------------------\\
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-weight: $headings__weight;
  color: inherit;
  margin-bottom: $verticalRythm;
  margin-top: 0;
}

%h1 {
  font-size:$font-size__h1;
  line-height: lineHeight('headlines', 'h1');
  text-transform: uppercase;
}

h1,
.h1 {
  @extend %h1;
}


%h2 {
  font-size:$font-size__h2;
  line-height: lineHeight('headlines', 'h2');
}

h2,
.h2 {
  @extend %h2;
}

%h3 {
  font-size:$font-size__h3;
  line-height: lineHeight('headlines', 'h3');
}


h3,
.h3 {
  @extend %h3;
}

%h4 {
  font-size:$font-size__h4;
  line-height: lineHeight('headlines', 'h4');
}

h4,
.h4 {
  @extend %h4;
}


%h5 {
  font-size:$font-size__h5;
  line-height: lineHeight('headlines', 'h5');
}


h5,
.h5 {
  @extend %h5;
}

%h6 {
  font-size:$font-size__h6;
  line-height: lineHeight('headlines', 'h6');
}


h6,
.h6 {
  @extend %h6;
}
