/**
 * The box object simply boxes off content. Extend with cosmetic styles in the
 * Components layer.
 *
 *
 * @package  generator-mh-boilerplate
 * @author   Martin Herweg <info@martinherweg.de>
 * @author   David Hellmann <davidhellmann.com@gmail.com>
 * @author   Harry Roberts <https://github.com/inuitcss/inuitcss>
 */

/*
|--------------------------------------------------------------------------
| _objects.box.scss
|--------------------------------------------------------------------------
*/
/*
 * 1. So we can apply the `.o-box` class to naturally-inline elements.
*/


.o-box {
  @include clearfix;
  display: block; /* [1] */
  padding: space(1);

  > :last-child {
    margin-bottom: 0;
  }

}



/*
|--------------------------------------------------------------------------
| Size variants
|--------------------------------------------------------------------------
*/


.o-box--flush {
  padding: 0;
}

.o-box--small {
  padding: space(2);
}

.o-box--large {
  padding: space(3);
}

.o-box--huge {
  padding: space(4);
}
